{% extends "accounts/base.html" %}
{% block content %}

<div class="max-w-xl mx-auto bg-white p-6 rounded-xl shadow">

    <h1 class="text-2xl font-bold mb-4">➕ Add Product</h1>

    <form method="POST" enctype="multipart/form-data" class="space-y-4">

        {% csrf_token %}

        <input type="text" name="title"
               placeholder="Product Title"
               class="w-full border p-2 rounded">

        <textarea name="description"
                  placeholder="Description"
                  class="w-full border p-2 rounded"></textarea>

        <select name="category" class="w-full border p-2 rounded">
            <option value="veg">Vegetarian</option>
            <option value="nonveg">Non-Vegetarian</option>
            <option value="dessert">Dessert</option>
            <option value="beverage">Beverage</option>
        </select>

        <input type="number" name="price"
               placeholder="Price"
               class="w-full border p-2 rounded">

        <input type="number" name="stock"
               placeholder="Stock"
               class="w-full border p-2 rounded">

        <input type="file" name="image"
               class="w-full border p-2 rounded">

        <button class="bg-green-500 text-white w-full py-2 rounded">
            Publish Product
        </button>

    </form>

</div>

{% endblock %}