{% extends "accounts/base.html" %}
{% block content %}

<h1 class="h3 mb-4">All Products</h1>

<!-- Loader inside dashboard -->
<div id="productLoader" class="text-center my-5">
    <div class="spinner-border text-primary"></div>
</div>

<div id="productContent" style="display:none;">
    <div class="row g-4">

        {% for p in products %}

        <div class="col-12 col-md-6 col-lg-4">

            <div class="card h-100 shadow-sm">

                <div class="card-body">

                    <h5 class="fw-bold">{{ p.title }}</h5>

                    <p class="text-success fw-semibold">৳ {{ p.price }}</p>

                    <p class="text-muted small">
                        {{ p.description|truncatechars:120 }}
                    </p>

                    <div class="small text-muted">
                        <p>Seller: {{ p.owner.email }}</p>
                        <p>Added: {{ p.created_at }}</p>
                    </div>

                    <div class="mt-3 d-flex gap-2">

                        {% if p.owner != user %}
                        <a href="{% url 'listings:buy_product' p.id %}" class="btn btn-sm btn-primary">
                            Buy
                        </a>
                        {% endif %}

                        {% if p.owner == user %}
                        <a href="{% url 'listings:delete_product' p.id %}" class="btn btn-sm btn-danger">
                            Delete
                        </a>
                        {% endif %}

                    </div>

                </div>

            </div>

        </div>

        {% empty %}
        <p>No products found</p>
        {% endfor %}

    </div>
</div>

<script>
    window.addEventListener("load", function(){
        document.getElementById("productLoader").style.display = "none";
        document.getElementById("productContent").style.display = "block";
    });
</script>

{% endblock %}