{% extends 'accounts/base.html' %}
{% block content %}

<div class="max-w-md mx-auto bg-white p-6 rounded shadow">
<h2 class="text-xl font-bold mb-4">Set New Password</h2>

<form method="POST">
    {% csrf_token %}

    <input name="password" type="password" placeholder="New Password" class="w-full p-3 border mb-3">
    <input name="confirm_password" type="password" placeholder="Confirm Password" class="w-full p-3 border mb-3">

    <button class="w-full bg-green-600 text-white p-3">Reset Password</button>
</form>

</div>

{% endblock %}