{% extends 'accounts/base.html' %}
{% block content %}

<div class="min-h-screen flex items-center justify-center">
<div class="bg-white p-8 rounded-xl shadow-md w-full max-w-md">

<h2 class="text-xl font-bold mb-4">Set New Password</h2>

<form id="passForm">
    {% csrf_token %}
    <input class="w-full p-3 mb-3 border rounded" name="password" type="password" placeholder="New Password" required>
    <input class="w-full p-3 mb-3 border rounded" name="confirm_password" type="password" placeholder="Confirm Password" required>
    <button class="w-full bg-green-600 text-white p-3 rounded">Reset</button>
</form>

</div>
</div>

<script>
document.getElementById("passForm").addEventListener("submit", async (e) => {
    e.preventDefault();
    const formData = new FormData(e.target);

    const res = await fetch(window.location.pathname, {
        method: "POST",
        body: formData
    });

    if(res.redirected){
        window.location.href = res.url;
    }
});
</script>

{% endblock %}
