{% extends 'accounts/base.html' %}
{% block content %}

<div class="max-w-md mx-auto bg-white p-6 rounded shadow">

<h2 class="text-xl font-bold mb-4">Set New Password</h2>

<form method="POST">
    {% csrf_token %}

    <!-- NEW PASSWORD -->
    <div class="relative mb-3">
        <input id="newPass" name="password" type="password"
               placeholder="New Password"
               class="w-full p-3 border pr-10">

        <button type="button"
                onclick="togglePassword('newPass')"
                class="absolute right-3 top-1/2 -translate-y-1/2 text-gray-500">

            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                 viewBox="0 0 24 24" fill="none" stroke="currentColor"
                 stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M1 12s4-7 11-7 11 7 11 7-4 7-11 7S1 12 1 12z"/>
                <circle cx="12" cy="12" r="3"/>
            </svg>

        </button>
    </div>

    <!-- CONFIRM PASSWORD -->
    <div class="relative mb-3">
        <input id="confirmPass" name="confirm_password" type="password"
               placeholder="Confirm Password"
               class="w-full p-3 border pr-10">

        <button type="button"
                onclick="togglePassword('confirmPass')"
                class="absolute right-3 top-1/2 -translate-y-1/2 text-gray-500">

            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                 viewBox="0 0 24 24" fill="none" stroke="currentColor"
                 stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M1 12s4-7 11-7 11 7 11 7-4 7-11 7S1 12 1 12z"/>
                <circle cx="12" cy="12" r="3"/>
            </svg>

        </button>
    </div>

    <button class="w-full bg-green-600 text-white p-3">
        Reset Password
    </button>
</form>

</div>

<script>
function togglePassword(fieldId) {
    const input = document.getElementById(fieldId);
    input.type = (input.type === "password") ? "text" : "password";
}
</script>

{% endblock %}