{% extends 'accounts/base.html' %}
{% block content %}

<div class="max-w-md mx-auto bg-white p-6 rounded shadow">
<h2 class="text-xl font-bold mb-4">Verify OTP</h2>

<form method="POST">
    {% csrf_token %}

    <input name="otp" placeholder="Enter OTP" class="w-full p-3 border mb-3">

    <button class="w-full bg-blue-600 text-white p-3">Verify</button>
</form>
{% if user %}
<a href="{% url 'resend' user.id %}">Resend OTP</a>
{% endif %}

<a href="{% url 'resend' user.id %}" class="text-sm text-blue-500">Resend OTP</a>
</div>

{% endblock %}